/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

/* Center the GIF in the middle of the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* GIF styling */
#background-gif {
    max-width: 20%;  /* Make the GIF responsive */
    height: auto;    /* Maintain aspect ratio */
    z-index: -1;     /* Ensure it stays behind the text */
    position: relative;
}

:root {
    --base: hsl(0, 0%, 100%);
    --primary: hsl(0, 100%, 96%);
    --secondary:hsl(345, 55%, 29%);
    --tertiary: hsl(338, 72%, 15%);
    --additional: hsl(355, 59%, 30%);
    --textColorlight: #52142a;
}

body {
    background: var(--secondary);
}

/* Grid container for the page */
main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    animation: popInBounce 1s ease-in-out; 
    position: absolute;  /* Place main on top of the centered GIF */
    top: 0;
    left: 0;
}

/* Fade-in animation using @keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Welcome text styling with shadow */
#welcome-text {
    grid-column: 3 / 19;
    grid-row: 2 / 3;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary);
    opacity: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); /* Add shadow to the text */
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 3s; /* Delay the fade-in by 3 seconds */
}

/* Continue text styling with shadow */
#continue-text {
    grid-column: 7 / 15;
    grid-row: 16 / 18;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary);
    opacity: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to the text */
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 3s; /* Delay the fade-in by 3 seconds */
}

/* Full-page link (transparent) */
#full-page-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Ensure it is on top */
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    cursor: pointer;
}
